<body>

<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table id="companies">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Description</th>
      <th>Service</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.phone %></td>
        <td><%= company.description %></td>
        <td><%= company.service %></td>
        <td><%= link_to 'Show', company %> <%= link_to 'Edit', edit_company_path(company) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path, :class => "btn btn-default" %>


</body>
