<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @company.street %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @company.zip %>
</p>

<p>
  <strong>City:</strong>
  <%= @company.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @company.state %>
</p>
<p>
  <strong> Map </strong>
  <a href="https://www.google.com/maps/dir//<%= @company.address %>/"><img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @company.address %>&zoom=16&scale=false&size=600x300&maptype=roadmap&key=AIzaSyAyfGGtwAieRMJuCxE72yQ9Bh-FbpL4jrM&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C<%= @company.address %>" alt="Google Map"></a>
</p>
<p>
  <strong>Phone:</strong>
  <%= @company.phone %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>Service:</strong>
  <%= @company.service %>
</p>

<h3>Reviews</h3>

<% @company.reviews.each do |review| %>

  <%= image_tag review.show_stars %>

  <p>

  <%= review.coment %>

  <br>

  Added on: <%= time_ago_in_words(review.created_at) %>

  </p>

<% end %>

<h3>New Review</h3>


<%= render 'reviews/form' %>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %> |
<%= link_to 'Destroy', @company, method: :delete, data: { confirm: 'Are you sure?' } %>
