<%= form_for(@logo) do |f| %>
  <% if @logo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@logo.errors.count, "error") %> prohibited this logo from being saved:</h2>

      <ul>
      <% @logo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
<!--
  <div class="field">
    <%= f.label :companyID %><br>
    <%= f.text_area :companyID %>
  </div>
-->
  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.text_field :company_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
