<p id="notice"><%= notice %></p>


<h1>Listing Logos</h1>
<div class="table table-striped">
<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Description</th>
      <!--<th>Companyid</th>-->
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logos.each do |logo| %>
      <tr>
        <td><%= logo.url %></td>
        <td><%= logo.description %></td>
        <td><%= logo.companyID %></td>
        <td><%= logo.company.name %></td>
        <td><%= link_to 'Show', logo %></td>
        <td><%= link_to 'Edit', edit_logo_path(logo) %></td>
        <td><%= link_to 'Destroy', logo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>


<%= link_to 'New Logo', new_logo_path %>
